@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-primary-dark: #0e0e0e;
  --color-secondary-dark: #1e1e1e;
  --color-tertiary-dark: #1b1b1b;
  --color-primary-light: #e1e1e1;

  --color-answered: #00C16A;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
  }
}
